In [6]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

# Data analysis of Case 1
### By August Semrau and William Marstrand

In [34]:
### Load data
df_full = pd.read_excel('data/dataset.xls')
print(df_full.head(5))

         ScheduleTime Airline  FlightNumber Destination AircraftType  \
0 2021-01-01 06:35:00      IA           874         DEN          73W
1 2021-01-01 10:35:00      JZ           818         YHM          AT7
2 2021-01-01 12:05:00      IA           876         DEN          73W
3 2021-01-01 13:20:00      CN           514         EST          AT7
4 2021-01-01 14:20:00      LJ          3140         DEN          32A

  FlightType Sector  SeatCapacity  LoadFactor
0          J     US           142    0.408451
1          J     CA            74    0.189189
2          J     US           142    0.570423
3          J     US            72    0.333333
4          J     US           186    0.204301

In [35]:
print(df_full.describe())
print(df_full.Airline.value_counts())

       FlightNumber  SeatCapacity    LoadFactor
count  36770.000000  36770.000000  36770.000000
mean    1164.618330    155.285504      0.531752
std      723.308555     58.851799      0.272192
min      500.000000     10.000000      0.000000
25%      668.000000     98.000000      0.305556
50%      905.000000    180.000000      0.532258
75%     1417.000000    189.000000      0.769852
max     3779.000000    451.000000      1.475177
DO    9808
CL    4205
LJ    3237
CN    2418
ZY    1824
      ...
MR       1
RO       1
UE       1
WY       1
ID       1
Name: Airline, Length: 95, dtype: int64

In [ ]:
### Investigate for missing data
missing_values_count = df_full.isnull().sum()
print(f'List of null data counts for each column: \n{missing_values_count}')

## As there are so few missing values, a total of five rows, we simply remove these
df = df_full.dropna()
print(f'\nData had {df_full.shape[0]} rows pre-nan-removal, now has {df.shape[0]} rows.')

In [14]:
## Investigate data for dtypes and stuff
df_full.dtypes

ScheduleTime    datetime64[ns]
Airline                 object
FlightNumber             int64
Destination             object
AircraftType            object
FlightType              object
Sector                  object
SeatCapacity             int64
LoadFactor             float64
dtype: object

List of null data counts for each column:
ScheduleTime    0
Airline         1
FlightNumber    0
Destination     2
AircraftType    0
FlightType      0
Sector          2
SeatCapacity    0
LoadFactor      0
dtype: int64
List of missing data counts for each column:
ScheduleTime    0
Airline         1
FlightNumber    0
Destination     2
AircraftType    0
FlightType      0
Sector          2
SeatCapacity    0
LoadFactor      0
dtype: int64

Data had 36770 rows pre-nan-removal, now has 36768 rows.