In [22]:
import pandas as pd
from tqdm import tqdm
import matplotlib.pyplot as plt
from sklearn.feature_selection import VarianceThreshold

# Global Parameters

In [23]:
REALIZED_DATA_PATH = 'Realized Schedule 20210101-20220228.xlsx'
FUTURE_DATA_PATH = 'Future Schedule 20220301-20220331.xlsx'

# Data Preprocessing of Case 1
### By August Semrau and William Marstrand
This notebook consists of data preprocessing, analysis and modelling is found in seperate notebooks

In [24]:
### Load data
df_realized = pd.read_excel(REALIZED_DATA_PATH)
df_realized

,ScheduleTime,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,SeatCapacity,LoadFactor
0,2021-01-01 06:35:00,IA,874,DEN,73W,J,US,142,0.408451
1,2021-01-01 10:35:00,JZ,818,YHM,AT7,J,CA,74,0.189189
2,2021-01-01 12:05:00,IA,876,DEN,73W,J,US,142,0.570423
3,2021-01-01 13:20:00,CN,514,EST,AT7,J,US,72,0.333333
4,2021-01-01 14:20:00,LJ,3140,DEN,32A,J,US,186,0.204301
...,...,...,...,...,...,...,...,...,...
39444,2022-02-28 18:45:00,VW,986,YYZ,319,J,CA,144,0.847222
39445,2022-02-28 19:25:00,LJ,667,YDQ,319,J,CA,156,0.871795
39446,2022-02-28 20:00:00,VW,3406,MYV,E90,J,US,98,0.857143
39447,2022-02-28 19:30:00,LJ,663,RUT,32N,J,US,186,0.682796
39448,2022-02-28 21:25:00,LJ,771,YEG,319,J,CA,156,0.820513

In [25]:
df_future = pd.read_excel(FUTURE_DATA_PATH)
df_future

,ScheduleTime,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,SeatCapacity
0,2022-03-01 05:45:00,UK,1315,YXX,319,J,CA,131
1,2022-03-01 07:15:00,PW,950,YLW,319,J,CA,143
2,2022-03-01 06:45:00,VW,770,YYZ,320,J,CA,220
3,2022-03-01 06:40:00,DO,2568,YXU,32N,J,CA,180
4,2022-03-01 07:30:00,AY,984,YYG,320,J,CA,174
...,...,...,...,...,...,...,...,...
4808,2022-03-31 21:05:00,SV,1988,YYJ,73H,J,CA,186
4809,2022-03-31 20:55:00,MD,1242,YBR,321,J,CA,230
4810,2022-03-31 21:50:00,LJ,506,YUL,320,J,CA,186
4811,2022-03-31 20:30:00,LJ,772,YEG,320,J,CA,186
4812,2022-03-31 21:15:00,VW,988,YYZ,32Q,J,CA,220

First we convert the flight number to an object type, since it is really a categorical variable, but Pandas thinks it's numerical

In [26]:
## Convert FlightNumber to object, it is not a numerical value
df_realized.FlightNumber = df_realized.FlightNumber.astype(object)
df_future.FlightNumber = df_realized.FlightNumber.astype(object)
## Investigate data for dtypes and stuff
print('\ndtypes of the datasets columns:')
df_realized.dtypes

dtypes of the datasets columns:

ScheduleTime    datetime64[ns]
Airline                 object
FlightNumber            object
Destination             object
AircraftType            object
FlightType              object
Sector                  object
SeatCapacity             int64
LoadFactor             float64
dtype: object

## Feature Engineering
Based on the different data types, we already know we want to do a couple of things to each column/feature, and these are described below:
<br><br>
For **ScheduleTime**, we want to do two things; Firstly, we want to convert the datetime64[ns] format to a more simple datetime format. We further want to create new object columns; one which encodes which year it is, one for the month of the year the flight is, which week, weekday, hour of day and minute of hour. These will also be encoded in the next step.
These new features extrated from the timestamp will be categorical features.
<br><br>
For **Airline**, **Flightnumber** (infact categorical), **Destination**, **Aircrafttype**, **Flighttype** and **Sector**, columns which are encoded as objects (they are categorical), we need to make an alternative encoding. If they hold few different classes, this is true for Flighttype which is either *J* or *C*, we will one-hot-encode them, else they will be label encoded. 
<br><br>
SeatCapacity is made categorical, though it differently from the rest, is in fact ordinal.
<br><br>
First, we remove rows with empty values

In [27]:
### Investigate for missing data
rea_missing_values_count = df_realized.isnull().sum()
print(f'Realized data, List of null data counts for each column: \n{rea_missing_values_count}')
fut_missing_values_count = df_future.isnull().sum()
print(f'Future data, List of null data counts for each column: \n{fut_missing_values_count}\n')

## As there are so few missing values, a total of five rows, we simply remove these
rea_df = df_realized.dropna()
# rea_df = rea_df.loc[rea_df['FlightType'].isin(['C', 'J'])]
print(f'\nRealized data had {df_realized.shape[0]} rows pre-nan-removal, now has {rea_df.shape[0]} rows.')

fut_df = df_future.dropna()
# fut_df = fut_df.loc[fut_df['FlightType'].isin(['C', 'J'])]
print(f'\nFuture data had {df_future.shape[0]} rows pre-nan-removal, now has {fut_df.shape[0]} rows.\n')

## Seperate data from target
rea_X, rea_y = rea_df.loc[:, rea_df.columns != 'LoadFactor'], rea_df.loc[:, rea_df.columns == 'LoadFactor']
fut_X, fut_y = fut_df.loc[:, fut_df.columns != 'LoadFactor'], fut_df.loc[:, fut_df.columns == 'LoadFactor']

Realized data, List of null data counts for each column:
ScheduleTime    0
Airline         0
FlightNumber    0
Destination     0
AircraftType    0
FlightType      0
Sector          0
SeatCapacity    0
LoadFactor      0
dtype: int64
Future data, List of null data counts for each column:
ScheduleTime    0
Airline         0
FlightNumber    0
Destination     0
AircraftType    0
FlightType      0
Sector          0
SeatCapacity    0
dtype: int64


Realized data had 39449 rows pre-nan-removal, now has 39449 rows.

Future data had 4813 rows pre-nan-removal, now has 4813 rows.

## Preprocess **ScheduleTime**

In [28]:
### Preprosses time for getting year, month, week number, weekday, hour of day and minute of hour
rea_X['Year'] = rea_X['ScheduleTime'].dt.year
rea_X['Month'] = rea_X['ScheduleTime'].dt.month
rea_X['WeekNumber'] = rea_X['ScheduleTime'].dt.isocalendar().week % 52;
rea_X['Weekday'] = rea_X['ScheduleTime'].dt.dayofweek;
rea_X['HourOfDay'] = rea_X['ScheduleTime'].dt.hour
rea_X['MinuteOfHour'] = rea_X['ScheduleTime'].dt.minute

rea_X.Year = rea_X.Year.astype(object)
rea_X.Month = rea_X.Month.astype(object)
rea_X.WeekNumber = rea_X.WeekNumber.astype(object)
rea_X.Weekday = rea_X.Weekday.astype(object)
rea_X.HourOfDay = rea_X.HourOfDay.astype(object)
rea_X.MinuteOfHour = rea_X.MinuteOfHour.astype(object)

fut_X['Year'] = fut_X['ScheduleTime'].dt.year
fut_X['Month'] = fut_X['ScheduleTime'].dt.month
fut_X['WeekNumber'] = fut_X['ScheduleTime'].dt.isocalendar().week % 52;
fut_X['Weekday'] = fut_X['ScheduleTime'].dt.dayofweek;
fut_X['HourOfDay'] = fut_X['ScheduleTime'].dt.hour
fut_X['MinuteOfHour'] = fut_X['ScheduleTime'].dt.minute

fut_X.Year = fut_X.Year.astype(object)
fut_X.Month = fut_X.Month.astype(object)
fut_X.WeekNumber = fut_X.WeekNumber.astype(object)
fut_X.Weekday = fut_X.Weekday.astype(object)
fut_X.HourOfDay = fut_X.HourOfDay.astype(object)
fut_X.MinuteOfHour = fut_X.MinuteOfHour.astype(object)

rea_X = rea_X.drop('ScheduleTime', axis=1)
fut_X = fut_X.drop('ScheduleTime', axis=1)

## Preprocess categorical features

In [29]:
### We need to find out how many categorical values exist for each feature
# X.describe(include = ['int64','object'])
rea_X.describe(include = ['object'])

# ## We see one row with wrong FLightType value, and remove it
# X = X.loc[df['FlightType'].isin(['C', 'J'])]

,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,Year,Month,WeekNumber,Weekday,HourOfDay,MinuteOfHour
count,39449,39449,39449,39449,39449,39449,39449,39449,39449,39449,39449,39449
unique,105,825,230,58,3,12,2,12,52,7,23,13
top,DO,771,CKE,73H,J,CA,2021,10,1,6,8,40
freq,10483,366,2706,8970,38229,19311,32348,4705,1427,6495,3004,3368

In [30]:
fut_X.describe(include = ['object'])

,Airline,FlightNumber,Destination,AircraftType,FlightType,Sector,Year,Month,WeekNumber,Weekday,HourOfDay,MinuteOfHour
count,4813,4813,4813,4813,4813,4813,4813,4813,4813,4813,4813,4813
unique,71,260,172,38,4,10,1,1,5,7,24,12
top,DO,556,DEN,73H,J,CA,2022,3,12,3,8,40
freq,1256,124,255,1169,4693,2434,4813,4813,1086,791,414,435

In [31]:
nominal_cols = ['Airline', 'FlightNumber', 'Destination', 'AircraftType', 'FlightType', 'Sector', 'Year', 'Month', 'WeekNumber', 'Weekday', 'HourOfDay', 'MinuteOfHour']
for col in nominal_cols:
    print(f'Realized data, For feature {col}, there are {rea_X[rea_X.groupby(by=col).transform(len) == 1].count()[0]} values that only occur once')
    print(f'Future data, For feature {col}, there are {fut_X[fut_X.groupby(by=col).transform(len) == 1].count()[0]} values that only occur once')

Realized data, For feature Airline, there are 0 values that only occur once
Future data, For feature Airline, there are 0 values that only occur once
Realized data, For feature FlightNumber, there are 121 values that only occur once
Future data, For feature FlightNumber, there are 47 values that only occur once
Realized data, For feature Destination, there are 19 values that only occur once
Future data, For feature Destination, there are 16 values that only occur once
Realized data, For feature AircraftType, there are 7 values that only occur once
Future data, For feature AircraftType, there are 1 values that only occur once
Realized data, For feature FlightType, there are 0 values that only occur once
Future data, For feature FlightType, there are 1 values that only occur once
Realized data, For feature Sector, there are 1 values that only occur once
Future data, For feature Sector, there are 0 values that only occur once
Realized data, For feature Year, there are 0 values that only occur once
Future data, For feature Year, there are 0 values that only occur once
Realized data, For feature Month, there are 0 values that only occur once
Future data, For feature Month, there are 0 values that only occur once
Realized data, For feature WeekNumber, there are 0 values that only occur once
Future data, For feature WeekNumber, there are 0 values that only occur once
Realized data, For feature Weekday, there are 0 values that only occur once
Future data, For feature Weekday, there are 0 values that only occur once
Realized data, For feature HourOfDay, there are 0 values that only occur once
Future data, For feature HourOfDay, there are 4 values that only occur once
Realized data, For feature MinuteOfHour, there are 1 values that only occur once
Future data, For feature MinuteOfHour, there are 0 values that only occur once

### Encoding

In [46]:
high_unique_nominal_cols = ['Airline', 'FlightNumber', 'Destination']
nominal_cols = ['AircraftType', 'FlightType', 'Sector', 'Year', 'Month', 'WeekNumber', 'Weekday', 'HourOfDay', 'MinuteOfHour']
linear_rea_X = pd.get_dummies(rea_X, columns=nominal_cols, drop_first=True)
linear_fut_X = pd.get_dummies(fut_X, columns=nominal_cols, drop_first=True)
tree_rea_X = pd.get_dummies(rea_X, columns=nominal_cols, drop_first=False)
tree_fut_X = pd.get_dummies(fut_X, columns=nominal_cols, drop_first=False)

KeyError: "None of [Index(['Airline', 'FlightNumber', 'Destination', 'AircraftType', 'FlightType',\n       'Sector', 'Year', 'Month', 'WeekNumber', 'Weekday', 'HourOfDay',\n       'MinuteOfHour'],\n      dtype='object')] are in the [columns]"

In [33]:
fut_X

,SeatCapacity,Airline_AY,Airline_BJ,Airline_BT,Airline_BZ,Airline_CL,Airline_CN,Airline_DO,Airline_E4,Airline_EA,...,MinuteOfHour_10,MinuteOfHour_15,MinuteOfHour_20,MinuteOfHour_25,MinuteOfHour_30,MinuteOfHour_35,MinuteOfHour_40,MinuteOfHour_45,MinuteOfHour_50,MinuteOfHour_55
0,131,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
1,143,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
2,220,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,0
3,180,0,0,0,0,0,0,1,0,0,...,0,0,0,0,0,0,1,0,0,0
4,174,1,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4808,186,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4809,230,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
4810,186,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
4811,186,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
4812,220,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0

In [34]:
rea_X

,SeatCapacity,Airline_AY,Airline_BJ,Airline_BT,Airline_BZ,Airline_CD,Airline_CL,Airline_CN,Airline_DO,Airline_DT,...,MinuteOfHour_15,MinuteOfHour_20,MinuteOfHour_25,MinuteOfHour_30,MinuteOfHour_35,MinuteOfHour_40,MinuteOfHour_45,MinuteOfHour_50,MinuteOfHour_54,MinuteOfHour_55
0,142,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
1,74,0,0,0,0,0,0,0,0,0,...,0,0,0,0,1,0,0,0,0,0
2,142,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,72,0,0,0,0,0,0,1,0,0,...,0,1,0,0,0,0,0,0,0,0
4,186,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
39444,144,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,1,0,0,0
39445,156,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0
39446,98,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
39447,186,0,0,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,0,0,0
39448,156,0,0,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,0,0,0

Now we remove any columns that holds identical values for all rows i.e. has no information to differentiate data points

In [35]:
selector = VarianceThreshold(0)
rea_X = pd.DataFrame(selector.fit_transform(rea_X), columns=selector.get_feature_names_out())
fut_X = pd.DataFrame(selector.fit_transform(fut_X), columns=selector.get_feature_names_out())

print(rea_X.shape)
print(fut_X.shape)

(39449, 1331)
(4813, 594)

We now only choose the columns that are both in the future and realized data

In [36]:
rea_fut_cols = list(set(rea_X.columns).intersection(set(fut_X.columns)))
rea_X = rea_X[rea_fut_cols]
fut_X = fut_X[rea_fut_cols]
print(f'Number of cols: {len(rea_fut_cols)}')
rea_fut_cols

Number of cols: 586

['FlightNumber_3113',
 'FlightNumber_972',
 'FlightNumber_1047',
 'FlightNumber_593',
 'FlightNumber_3544',
 'Destination_DAB',
 'Airline_ZY',
 'FlightNumber_3125',
 'Destination_YPJ',
 'FlightNumber_1720',
 'Destination_YZV',
 'Destination_EST',
 'AircraftType_7M9',
 'Destination_DMO',
 'Sector_SG',
 'FlightNumber_3779',
 'FlightType_G',
 'Destination_YEG',
 'Destination_KWT',
 'Airline_DO',
 'Destination_BXS',
 'HourOfDay_21',
 'FlightNumber_901',
 'Destination_ASE',
 'AircraftType_75W',
 'FlightNumber_697',
 'Weekday_3',
 'FlightNumber_811',
 'FlightNumber_1532',
 'FlightNumber_2969',
 'FlightNumber_1362',
 'FlightNumber_669',
 'FlightNumber_924',
 'Sector_DK',
 'AircraftType_AT4',
 'FlightNumber_651',
 'FlightNumber_602',
 'AircraftType_73W',
 'Destination_DOH',
 'Airline_KL',
 'FlightNumber_1519',
 'Destination_MTX',
 'FlightNumber_1743',
 'Destination_DAN',
 'Destination_KEF',
 'FlightNumber_534',
 'FlightNumber_705',
 'Destination_YQL',
 'Destination_YYW',
 'FlightNumber_989',
 'FlightNumber_764',
 'FlightNumber_1616',
 'FlightNumber_1723',
 'FlightNumber_3520',
 'Destination_PTL',
 'AircraftType_CR9',
 'Destination_CGZ',
 'FlightNumber_2336',
 'FlightNumber_814',
 'Destination_LIH',
 'FlightNumber_648',
 'Airline_ZD',
 'FlightNumber_566',
 'FlightNumber_544',
 'FlightNumber_1713',
 'Destination_MOD',
 'FlightNumber_701',
 'FlightNumber_874',
 'Destination_BZF',
 'Airline_SH',
 'WeekNumber_12',
 'FlightNumber_1253',
 'FlightNumber_3036',
 'FlightNumber_552',
 'FlightNumber_1415',
 'Destination_YYF',
 'Airline_TO',
 'FlightNumber_1045',
 'Destination_HNM',
 'Destination_MQI',
 'Airline_EM',
 'FlightNumber_598',
 'FlightNumber_2043',
 'Destination_ARB',
 'MinuteOfHour_15',
 'Destination_BBF',
 'FlightNumber_923',
 'Airline_SV',
 'FlightNumber_553',
 'FlightNumber_1314',
 'FlightNumber_1538',
 'FlightNumber_1069',
 'FlightNumber_1117',
 'Airline_NV',
 'Destination_HBR',
 'MinuteOfHour_5',
 'Airline_NI',
 'Airline_KU',
 'FlightNumber_3540',
 'FlightNumber_713',
 'Destination_CRW',
 'Airline_UK',
 'Destination_YYJ',
 'Airline_VD',
 'Destination_ICL',
 'FlightNumber_694',
 'Airline_E4',
 'Destination_YAD',
 'Destination_FTL',
 'FlightNumber_1384',
 'Destination_WAL',
 'MinuteOfHour_50',
 'Airline_MC',
 'Destination_BPT',
 'Airline_YQ',
 'Destination_MJQ',
 'HourOfDay_3',
 'FlightNumber_1094',
 'HourOfDay_2',
 'FlightNumber_822',
 'Destination_ASH',
 'HourOfDay_9',
 'FlightNumber_1529',
 'FlightNumber_700',
 'Destination_RNH',
 'Destination_MWS',
 'AircraftType_32A',
 'Airline_PW',
 'FlightNumber_857',
 'Destination_YQG',
 'FlightNumber_988',
 'FlightNumber_832',
 'FlightNumber_1849',
 'FlightNumber_2871',
 'Destination_SOP',
 'FlightNumber_656',
 'FlightNumber_1095',
 'FlightNumber_556',
 'FlightNumber_752',
 'FlightNumber_617',
 'Destination_YJO',
 'FlightNumber_667',
 'Airline_CN',
 'Destination_ESP',
 'FlightNumber_680',
 'MinuteOfHour_55',
 'FlightNumber_876',
 'Airline_NH',
 'Airline_BT',
 'Destination_LAS',
 'Destination_TKL',
 'Airline_NS',
 'FlightNumber_1437',
 'FlightNumber_2574',
 'FlightNumber_776',
 'FlightNumber_668',
 'Destination_YXS',
 'Destination_MSP',
 'Destination_HFD',
 'FlightNumber_884',
 'FlightNumber_1775',
 'Destination_YKK',
 'Destination_YHO',
 'FlightNumber_518',
 'Destination_SIN',
 'Destination_MYV',
 'FlightNumber_1005',
 'FlightNumber_684',
 'Airline_QU',
 'Destination_ORD',
 'AircraftType_73J',
 'Destination_BOW',
 'Airline_BJ',
 'FlightNumber_516',
 'Destination_BNL',
 'FlightNumber_976',
 'Destination_UTM',
 'Sector_CA',
 'HourOfDay_16',
 'AircraftType_77W',
 'Sector_IQ',
 'FlightNumber_2024',
 'FlightNumber_1031',
 'WeekNumber_10',
 'Airline_TN',
 'Destination_AUM',
 'FlightNumber_2874',
 'Destination_KIC',
 'FlightNumber_3542',
 'FlightNumber_969',
 'AircraftType_738',
 'AircraftType_7M8',
 'SeatCapacity',
 'AircraftType_789',
 'Airline_ML',
 'Destination_PNN',
 'FlightNumber_3071',
 'Airline_ZL',
 'FlightNumber_1408',
 'Destination_ZSW',
 'Airline_IA',
 'FlightNumber_698',
 'HourOfDay_20',
 'FlightNumber_575',
 'FlightNumber_820',
 'Destination_RFK',
 'FlightNumber_711',
 'FlightNumber_1496',
 'FlightNumber_3466',
 'FlightNumber_1454',
 'Destination_CYE',
 'FlightNumber_703',
 'Destination_PEK',
 'Destination_YXE',
 'Sector_EG',
 'FlightNumber_555',
 'FlightNumber_2870',
 'Airline_RT',
 'Destination_YZF',
 'FlightNumber_1531',
 'Destination_YKA',
 'FlightNumber_991',
 'Destination_NES',
 'FlightNumber_942',
 'FlightNumber_903',
 'Destination_ATU',
 'Airline_NW',
 'Destination_YWG',
 'AircraftType_734',
 'HourOfDay_15',
 'FlightNumber_541',
 'Airline_LW',
 'FlightNumber_568',
 'FlightNumber_1497',
 'Airline_RS',
 'FlightNumber_858',
 'FlightNumber_1460',
 'FlightNumber_1313',
 'FlightNumber_773',
 'FlightNumber_921',
 'FlightNumber_1526',
 'FlightNumber_1959',
 'FlightNumber_816',
 'Destination_DEN',
 'FlightNumber_559',
 'Airline_PL',
 'Airline_IK',
 'AircraftType_AT7',
 'FlightNumber_727',
 'HourOfDay_17',
 'Airline_OK',
 'FlightNumber_771',
 'Destination_OFF',
 'FlightNumber_594',
 'Destination_YDQ',
 'AircraftType_320',
 'FlightNumber_1385',
 'Destination_PEC',
 'FlightNumber_919',
 'Destination_YUL',
 'WeekNumber_11',
 'FlightNumber_1083',
 'FlightNumber_1252',
 'FlightNumber_2759',
 'Destination_WGO',
 'HourOfDay_10',
 'FlightNumber_1392',
 'Destination_OTH',
 'WeekNumber_13',
 'FlightNumber_571',
 'FlightNumber_2767',
 'FlightNumber_634',
 'FlightNumber_1643',
 'FlightNumber_974',
 'Destination_HDE',
 'Weekday_5',
 'FlightNumber_1528',
 'Airline_GM',
 'Destination_BKT',
 'Destination_YQU',
 'Destination_YCV',
 'FlightNumber_1457',
 'FlightNumber_515',
 'Airline_FZ',
 'FlightType_J',
 'Weekday_4',
 'Destination_YXU',
 'FlightNumber_2396',
 'Destination_JDT',
 'FlightNumber_777',
 'FlightNumber_679',
 'FlightNumber_1059',
 'Destination_DUF',
 'FlightNumber_906',
 'FlightNumber_1443',
 'AircraftType_AT5',
 'FlightNumber_546',
 'FlightNumber_551',
 'Destination_UGB',
 'Destination_LAX',
 'Airline_OF',
 'Destination_AMN',
 'FlightNumber_813',
 'Destination_SFO',
 'Destination_WJF',
 'FlightNumber_970',
 'Destination_YWP',
 'FlightNumber_1043',
 'FlightNumber_1092',
 'FlightNumber_915',
 'AircraftType_E70',
 'Destination_CPH',
 'Destination_ICY',
 'Airline_FP',
 'MinuteOfHour_25',
 'AircraftType_32B',
 'FlightNumber_878',
 'FlightNumber_702',
 'AircraftType_295',
 'FlightNumber_682',
 'FlightNumber_1028',
 'FlightNumber_751',
 'Airline_JP',
 'FlightNumber_1391',
 'Sector_CN',
 'Airline_WN',
 'Destination_CKX',
 'FlightNumber_986',
 'FlightNumber_872',
 'FlightNumber_1051',
 'Destination_YCD',
 'FlightNumber_877',
 'Airline_WT',
 'Destination_AIY',
 'FlightNumber_1527',
 'HourOfDay_14',
 'FlightNumber_1256',
 'FlightNumber_1456',
 'Airline_WU',
 'FlightNumber_3067',
 'Destination_APH',
 'FlightNumber_2202',
 'Airline_XG',
 'Destination_IJX',
 'FlightNumber_1884',
 'FlightNumber_902',
 'FlightNumber_660',
 'Destination_PHX',
 'FlightNumber_792',
 'FlightNumber_760',
 'FlightNumber_605',
 'FlightNumber_1942',
 'Destination_EWR',
 'AircraftType_788',
 'Airline_NU',
 'FlightNumber_1386',
 'FlightNumber_565',
 'FlightNumber_517',
 'FlightNumber_775',
 'AircraftType_319',
 'FlightNumber_558',
 'HourOfDay_5',
 'Destination_PVG',
 'FlightNumber_1721',
 'FlightNumber_883',
 'FlightNumber_513',
 'Destination_YLW',
 'FlightNumber_653',
 'Weekday_6',
 'FlightNumber_1123',
 'Destination_YYT',
 'HourOfDay_18',
 'FlightNumber_652',
 'Destination_DFW',
 'Destination_FNK',
 'Destination_CYT',
 'Destination_YHM',
 'AircraftType_32Q',
 'Weekday_1',
 'Destination_YMM',
 'Destination_ZTM',
 'FlightNumber_550',
 'HourOfDay_23',
 'FlightNumber_1759',
 'FlightNumber_570',
 'FlightNumber_699',
 'Destination_JFK',
 'Destination_YBS',
 'Sector_QA',
 'HourOfDay_22',
 'FlightNumber_704',
 'FlightNumber_1439',
 'Destination_SUD',
 'Airline_LZ',
 'FlightNumber_2760',
 'FlightNumber_875',
 'FlightNumber_635',
 'Destination_YXT',
 'Destination_YVR',
 'FlightNumber_600',
 'Airline_JZ',
 'AircraftType_ER4',
 'Destination_HUS',
 'Airline_YT',
 'FlightNumber_1840',
 'Airline_PJ',
 'FlightNumber_2961',
 'FlightNumber_950',
 'Destination_AIV',
 'HourOfDay_13',
 'Destination_YQQ',
 'MinuteOfHour_40',
 'Destination_YXY',
 'FlightNumber_512',
 'Destination_TXK',
 'Destination_CLR',
 'FlightNumber_1445',
 'FlightNumber_1530',
 'AircraftType_332',
 'Destination_XLB',
 'FlightNumber_817',
 'FlightNumber_750',
 'Destination_CKE',
 'FlightNumber_987',
 'FlightNumber_1002',
 'FlightNumber_654',
 'Destination_YFE',
 'Airline_YU',
 'FlightNumber_644',
 'Destination_YLL',
 'FlightNumber_818',
 'AircraftType_321',
 'HourOfDay_6',
 'FlightNumber_1138',
 'Destination_FBY',
 'Airline_MD',
 'HourOfDay_19',
 'FlightNumber_717',
 'Destination_SLK',
 'AircraftType_73G',
 'Destination_DXB',
 'FlightNumber_725',
 'FlightNumber_898',
 'Destination_BKL',
 'Destination_FRM',
 'FlightNumber_973',
 'Destination_YFI',
 'FlightNumber_808',
 'FlightNumber_759',
 'FlightNumber_1061',
 'Destination_YBR',
 'AircraftType_E90',
 'FlightNumber_554',
 'FlightNumber_3040',
 'FlightNumber_904',
 'HourOfDay_12',
 'MinuteOfHour_10',
 'Airline_VW',
 'AircraftType_32N',
 'AircraftType_E95',
 'HourOfDay_8',
 'Destination_RDR',
 'AircraftType_359',
 'FlightNumber_1937',
 'Airline_FO',
 'AircraftType_73H',
 'Destination_PHK',
 'Airline_IR',
 'FlightNumber_803',
 'Destination_YYZ',
 'Destination_YXH',
 'Destination_PPF',
 'Airline_RZ',
 'Destination_MCE',
 'Destination_ONL',
 'FlightNumber_729',
 'Destination_YXX',
 'HourOfDay_4',
 'FlightNumber_690',
 'FlightNumber_1724',
 'Destination_EKI',
 'Destination_BGW',
 'Destination_CBF',
 'HourOfDay_7',
 'FlightNumber_3240',
 'Airline_PO',
 'MinuteOfHour_30',
 'Airline_FB',
 'Destination_BXK',
 'FlightNumber_753',
 'Destination_BCC',
 'Airline_GQ',
 'FlightNumber_514',
 'Airline_AY',
 'Destination_SCM',
 'FlightNumber_770',
 'FlightNumber_1820',
 'FlightNumber_3581',
 'FlightNumber_1417',
 'Airline_PU',
 'Destination_GWV',
 'FlightNumber_709',
 'Destination_GBR',
 'Destination_YWQ',
 'Airline_VJ',
 'Destination_NPA',
 'FlightNumber_1776',
 'Airline_ZP',
 'FlightNumber_922',
 'Destination_HDI',
 'FlightNumber_1057',
 'Destination_YPE',
 'FlightNumber_686',
 'Airline_CL',
 'Destination_CLE',
 'Destination_YKF',
 'FlightNumber_926',
 'Destination_BWI',
 'FlightNumber_907',
 'FlightNumber_985',
 'Destination_RKS',
 'HourOfDay_11',
 'FlightNumber_2312',
 'FlightNumber_2567',
 'Destination_YOW',
 'FlightNumber_1441',
 'Destination_RUT',
 'AircraftType_76W',
 'AircraftType_E75',
 'AircraftType_333',
 'FlightNumber_741',
 'Destination_YXJ',
 'AircraftType_223',
 'FlightNumber_1688',
 'FlightNumber_633',
 'FlightNumber_990',
 'FlightNumber_1139',
 'FlightNumber_557',
 'Destination_MKG',
 'Airline_ZT',
 'Airline_BZ',
 'FlightNumber_2819',
 'FlightNumber_536',
 'Destination_UUK',
 'AircraftType_SF3',
 'FlightNumber_1994',
 'Airline_LJ',
 'FlightNumber_772',
 'FlightNumber_1124',
 'FlightNumber_650',
 'Destination_LUL',
 'Destination_PTS',
 'FlightNumber_3140',
 'MinuteOfHour_45',
 'FlightNumber_649',
 'Destination_KZH',
 'FlightNumber_543',
 'FlightNumber_511',
 'Destination_YYG',
 'FlightNumber_1080',
 'Weekday_2',
 'MinuteOfHour_20',
 'FlightNumber_1733',
 'FlightNumber_3582',
 'Destination_YHZ',
 'FlightNumber_905',
 'Sector_IS',
 'FlightNumber_636',
 'Destination_LND',
 'Destination_OBT',
 'Sector_US',
 'FlightNumber_3514',
 'Destination_YQR',
 'MinuteOfHour_35',
 'Destination_OWB',
 'FlightNumber_695',
 'AircraftType_DH4',
 'FlightNumber_716',
 'Destination_BQV',
 'Destination_YXN',
 'FlightNumber_2394',
 'Destination_YXC',
 'Destination_END',
 'Destination_CAI',
 'FlightNumber_810',
 'Destination_ASL']

## Feature Distributions

In [41]:
rea_X.columns[rea_X.sum() > 5]

Index(['FlightNumber_3113', 'FlightNumber_972', 'FlightNumber_1047',
       'Destination_DAB', 'Airline_ZY', 'FlightNumber_3125', 'Destination_YPJ',
       'FlightNumber_1720', 'Destination_YZV', 'Destination_EST',
       ...
       'FlightNumber_695', 'AircraftType_DH4', 'FlightNumber_716',
       'Destination_YXN', 'FlightNumber_2394', 'Destination_YXC',
       'Destination_END', 'Destination_CAI', 'FlightNumber_810',
       'Destination_ASL'],
      dtype='object', length=553)

In [42]:
fut_X.columns[fut_X.sum() > 5]

Index(['FlightNumber_972', 'Destination_DAB', 'Airline_ZY', 'Destination_YZV',
       'Destination_EST', 'AircraftType_7M9', 'Sector_SG', 'FlightType_G',
       'Destination_YEG', 'Destination_KWT',
       ...
       'FlightNumber_636', 'Destination_OBT', 'Sector_US', 'Destination_YQR',
       'MinuteOfHour_35', 'FlightNumber_695', 'AircraftType_DH4',
       'FlightNumber_716', 'Destination_YXC', 'FlightNumber_810'],
      dtype='object', length=381)